<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - web_aplikace</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/web_aplikace.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="top">
        <a asp-controller="Home" asp-action="index" class="logo-link">
            <img src="~/obrazky/dumbell.png" alt="Logo" class="logo">
        </a>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="paticka">
        <a asp-controller="Home" asp-action="hypertrophy" class="link1">Co to je hypertrophie?</a>
        <a asp-controller="Home" asp-action="overload" class="link2">Co je progresivní přetížení?</a>
        <p> Vytvořil Velký Frank </p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
