<img src="~/obrazky/background.jpg" alt="Blue obrazek" class="background">


<main>
    <h1 class="nadpis">Základy pro budování svalů</h1>
    <hr class="cara">

    <h2 class="nadpis2">Svaly</h2>

    <p class="podtext">Co to vlastně svaly jsou?</p>

    <div class="co-jsou-svaly">
        svaly jsou měkké tkáně, které se nacházejí v našem těle a jsou zodpovědné za pohyb a stabilitu. Svaly se skládají z vláken, která se mohou stahovat a uvolňovat, což umožňuje pohyb různých částí těla. Existují tři hlavní typy svalů: kosterní svaly, hladké svaly a srdeční svaly. Kosterní svaly jsou připojeny k našim kostem a umožňují nám pohybovat se, hladké svaly se nacházejí v orgánech a cévách a srdeční sval tvoří srdce.
    </div>
</main>







<div class="Strava">
    <h2>Strava pro růst svalů</h2>
    <p>
        Kvalitní jídelníček je základ. Pro růst svalů potřebuješ dostatek bílkovin,
        kalorií a mikronutrientů. Doporučuje se přijímat 1.6-2.2 g bílkovin na kilogram
        tělesné hmotnosti denně.
    </p>
</div>




<div class="chyby">
    <h2>Nejčastější chyby při budování svalů</h2>
    <ul>
        <li>Příliš těžké váhy a špatná technika</li>
        <li>Nedostatečný příjem bílkovin</li>
        <li>Špatný spánek</li>
        <li>Stále mění trénink a nemají progresivní zvyšování zátěže</li>
    </ul>
</div>

<h2 class="nadpistabulky">Tabulka Potravin</h2>

<table class="tabulkahodnot">
    <tr>
        <th>Proč jsou nezdravé?</th>
        <th>Extrémně nezdravé potraviny</th>
        <th>Dorunné zdravé potraviny</th>
        <th>Proč je doporuřujeme?</th>
    </tr>
    <tr>
        <td class="red">Vysoké kalorie</td>
        <td>Smažené jídla</td>
        <td>Ovesné vločky</td>
        <td class="blue">Dlouhodobá energie a dostatek vlákniny</td>
    </tr>
    <tr>
        <td class="red">Curk pomáhá k nabírání</td>
        <td>Jídla s vysokým obsahem cukru</td>
        <td>Maso</td>
        <td class="blue">Vysoký zdroj bílkovin</td>
    </tr>
    <tr>
        <td class="red">Dost často nekvalitní</td>
        <td>Spracované potraviny</td>
        <td>Ovoce a zelenina</td>
        <td class="blue">Zdravé sacharidy</td>
    </tr>
    <tr>
        <td class="red">Často nezkonzumovatelné</td>
        <td>Staré potraviny</td>
        <td>Zvířecí produkty</td>
        <td class="blue">Přírodní zdroj bílkovin a tuků</td>
    </tr>
</table>




<div class="panel">
    <div class="panel-obsah">
        <a href="https://www.sciencedirect.com/science/article/pii/S0949328X2500002X" target="_blank">Studie hypertrophie</a>
        <a href="https://pubmed.ncbi.nlm.nih.gov/38286426/" target="_blank">Studie pro progresivní přetížení</a>
    </div>
</div>


